.App {
  text-align: center;
}

.calculateWrapper {
  display: flex;
  justify-content: center;
}

.Wrapper {
  width: 30%;
  margin-top: 30px;
}

.operationBtn {
  outline: none;
  border: 1px solid #ccc;
  background-color: #358c9b;
  width: 100%;
  margin: 5px;
  border-radius: 6px;
  font-size: 20px;
  min-height: 50px;
  color: #fff;
}

.buttonsGrp .operationBtn:first-child {
  margin-top: 0px;
  margin-bottom: 0px;
}
.buttonsGrp{
  width: 20%;
}

.calculateOptions {
  display: flex;
  align-items: flex-start;
}
.numberOption {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.numberOption .calculateBtn {
  display: block;
  color: #454545;
  margin: 5px;
  width: 30%;
  font-size: 20px;
  text-align: center;
  background-color: #ececec;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 18px;
  min-height: 50px;
}
.form-control {
  height: 50px;
}
.form-control:focus{
  outline: none !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 990px) {
  .Wrapper {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .Wrapper {
    width: 100%;
  }
  .numberOption .calculateBtn  {
    width: 28%;
  }
}